body{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 50%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(96, 96, 96);
}

.content-text{
    text-align: center;
}

.content-text p{
    color: #4b4a4a;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.form-group label{
    padding: 2px;
    font-size: 15px;
}

.form-group input{
    border-radius: 10px;
    border: solid #000;
    height: 40px;
    padding: 0px 10px;
}

.form-group select{
    border-radius: 10px;
    border: solid #000;
    height: 40px;
    padding: 0px 10px;
}


.submit-form-group input{
    width: 500px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 2px 4px 10px rgb(81, 81, 81);
}

.submit-form-group input:hover{
    background: #580000;
    color: #ffffff;
}

.form-group input:hover{
    border: solid #580000;
}

.container-nilai{
    width: 50%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 10px rgb(96, 96, 96);
}


.container-nilai table{
    width: 600px;
    height: 200px;
}

.container-nilai th{
    background: #580000;
    color: #ffffff;
}

.input-nilai input{
    height: 40px;
    border: none;
    align-items: center;
    text-align: center;
}

.submit-nilai input{
    width: 600px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgb(96, 96, 96);
}

.submit-nilai input:hover{
    background: #580000;
    color: #ffffff;
}

/* css lap php */


